.page {
  border: 1px solid black;
  width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
}

.page__header {
  border: 1px solid black;
  font-size: 36px;
  text-align: center;
}

.game {
  border: 1px solid green;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game__header {
  padding: 20px;
  border: 1px solid black;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.game__key {
  border: 1px solid black;
  width: 200px;
  height: 50px;
  margin: 0 auto 20px;
  font-size: 16px;
}

.game__value {
  border: 1px solid black;
  width: 350px;
  margin: 0 auto 20px;
  font-size: 20px;
}
